table {
    width: 100%;
}
.mat-column-portfolioId {
    flex: none;
    width: 70px;
}

.mat-column-symbol {
    flex: none;
    width: 70px;
}

.mat-column-stockName {
    flex: none;
    width: 70%;
}