table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
  }

.form-element {
    padding: 5px 0px 10px 2px;
    width: 100%;
}
.mat-column-portfolioId {
    flex: none;
    width: 70px;
}

.mat-column-symbol {
    flex: none;
    width: 70px;
}

.mat-column-stockName {
    flex: none;
    width: 50%;
}

.mat-column-select {
    flex: none;
    width: 70px;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 30px;
  }